# Project exclude paths
/webpack的使用/02-webpack的配置/node_modules/
/webpack的使用/03-webpack的loader/node_modules/
/webpack的使用/04-webpack配置vue/node_modules/
/webpack的使用/05-webpack plungin的使用/node_modules/
/webpack的使用/06-webpack配置的分离/node_modules/
/webpack的使用/01-webpack的起步/dist/
/webpack的使用/02-webpack的配置/dist/
/webpack的使用/03-webpack的loader/dist/
/webpack的使用/04-webpack配置vue/dist/
/webpack的使用/05-webpack plungin的使用/dist/
/webpack的使用/06-webpack配置的分离/dist/
/.idea/
/.idea/
